#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: #a9cac0;
  /* opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #d0e2db, #d0e2db 3px, #a9cac0 3px, #a9cac0 25px ); */
  /* background-image: url(); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

img{
  object-fit: contain;
}