#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url('/images/Illustration.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

img {
  object-fit: contain;
}